<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/estudiantes">IMPS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle
navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{activarEstudiante}}">
                    <a class="nav-link" href="/estudiantes">Estudiantes </a>
                </li>
                <li class="nav-item {{activarCarrera}}">
                    <a class="nav-link" href="/carreras">Carreras</a>
                </li>
                <li class="nav-item {{activarProfesor}}">
                    <a class="nav-link" href="/profesores">Profesores</a>
                </li>
                <li class="nav-item {{activarMateria}}">
                    <a class="nav-link" href="/materias">Materias</a>
                </li>
                <li class="nav-item {{activarGrupo}}">
                    <a class="nav-link" href="/grupos">Grupos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>